################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AmCart v1.0
/AmCart.IdentityServer/bin/Debug/netcoreapp3.0
/AmCart.IdentityServer/obj
